<?php
// This is a sample configuration file for cookbook

// Whether the program should run in debug (developer) mode. If set to FALSE, it doesn't show errors (as many, anyway).
$Debug = FALSE;

// The language that should be used in the user interface
$Language = "english";

// Database options
$DBType = "sqlite"
$Address = "data.db";
$Username = "";
$Password = "";
$Database = "";
?>