/* --- Global -------------------------------- */
*
{
	font-family: "Open Sans", Verdana, Helvetica, sans-serif;
}

* a
{
	color: blue;
	text-decoration: none;
}

html, body
{
	
}

/* --- #container ---------------------------- */
#container
{
	position: relative;
	margin: 0 auto;
	padding-left: 10px;
	width: 99%;
	background-color: white;
}

/* --- .hlist -------------------------------- */
.hlist
{
	padding-left: 0;
}

.hlist li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	text-align: center;
}

.navbar a
{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}
/* --- Text styles --------------------------- */
.bold
{
	font-weight: bold;
}

.italic
{
	font-style: italic;
}

/* --- Other --------------------------------- */
div.rounded
{
	background-color: #E6E6E6;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;	
}
div.rounded li
{
	margin-left: 5%;
}
div.rounded h4
{
	margin-left: 20px;
	text-transform: uppercase;
}

form div p
{
	/* Remove the space between the text input and
	 * the title above it in forms */
	margin-bottom: 0;
}